/*--------------------
Fonts Start
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/*--------------------
Fonts End
--------------------*/







/*--------------------
Pre-Set Start
--------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--dark);
    --webkit-font-smoothing: antialiased;
    padding-bottom: 4rem;
    
}

main{
    background-color: var(--primary);
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}



.container{
    max-width: 1140px;
    margin: 0 auto;
}



.section_heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1 rgba(40, 54, 95, 0.1);
    position: relative;
}


.section_heading::after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 1.5px dotted var(--danger);
}




section{
    padding: 3rem;
}
/*--------------------
Pre-Set End
--------------------*/










/*--------------------
Color Start
--------------------*/

:root{
    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribbble : #ff5da0;
    --success : #12cab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --youtube : #FF0000;
    --instagram : rgba(255, 81, 0, 0.877);
    --linkedin : #0077b5;
    --github :  #3cdf13;
    --dark-gray: #171f33;
    --yellow: #f3c74d;
}

/*--------------------
Color End
--------------------*/







/*--------------------
NavBar Start
--------------------*/
nav{
    background-color: var(--primary);
    padding: 1.6rem 0;
}

nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}


nav .inner button{
    background-color: var(--secondary);
    border: none;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
}

/*--------------------
NavBar End
--------------------*/





/*--------------------
Profile Start
--------------------*/
section.profile{
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}



section.profile .left{
    display: flex;
    flex: 2;
    align-items: center;
}



section.profile .right{
    flex: 1;
}



section.profile .left h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}




section.profile .left p{
    color: var(--mild);
    font-size: 14px;
}


section.profile .left p b{
    padding-bottom: 1rem;
    font-weight: 400;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary), var(--success));
}



section.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}



section.profile .left .avatar_block{
    position: relative;
    margin-right: 2rem;
}


section.profile .left .avatar_block a i{
    color: var(--pure);
}




section.profile .left .avatar_block span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 20px;
    background-color: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 42, 54, 0.05);
    cursor: pointer;
}






section.profile .right ul.contact{
    list-style-type: none;
    margin-bottom: 1.6rem;
}

section.profile .right ul.contact li{
    margin-bottom: .8rem;
}

section.profile .right ul.contact li a{
    color: var(--ternary);
    font-size: 14px;
    transition: all .3s ease;
}






section.profile .right ul.contact li a i{
    font-size: 18px;
    margin-right: 0.3rem;
 
}







section.profile .right ul.socials{
    display: flex;
    align-items: center;
    list-style-type: none;
}



section.profile .right ul.socials li{
    margin-right: 0.8rem;
    transition: all ease .3s;
}


section.profile .right ul.socials li:hover{
    transform: scale(1.2);
}


section.profile .right ul.socials li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;

}



section.profile .right ul.socials li:nth-child(1) a {
    background-color: var(--secondary);
}




section.profile .right ul.socials li:nth-child(2) a {
    background-color: var(--instagram);
}



section.profile .right ul.socials li:nth-child(3) a {
    background-color: var(--linkedin);
}




section.profile .right ul.socials li:nth-child(4) a {
    background-color: var(--twitter);
}
/*--------------------
Profile End
--------------------*/












/*--------------------
About ME Start
--------------------*/
section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}



section.about .content h2{
    color: var(--info);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}



section.about .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}


section.about .content .left button{
    background-color: rgba(77, 121, 246, 0.1);
    color: var(--info);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    transition: ease .3s all;
}

section.about .content .left button:hover{
    transform: scale(1.1);
}




section.about .content .right p{
    line-height: 1.6;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}







section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}



section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}



section.about .content .right p span:nth-child(1)::after{
    content: ':';
    position: absolute;
    right: 0;
    top: 0;
}


/*--------------------
About ME End
--------------------*/












/*--------------------
Skill Start
--------------------*/
section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}




section.skills .content .left .heading , section.skills .content .right .heading{
    margin-bottom: 2rem;
}

section.skills .content .left .heading i , section.skills .content .right .heading i{
    color: var(--fade);
    font-size: 52px;
}



section.skills .content .left .heading h5, section.skills .content .right .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild);
}





section.skills .content .left p , section.skills .content .right p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}



section.skills .content .left p.center , section.skills .content .right p.center{
    color: var(--fade);
    font-weight: 600;
}




section.skills .content .left .item , section.skills .content .right .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}


section.skills .content .left .item::after , section.skills .content .right .item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--info);
    border-radius: 50%;
    margin-left: -21px;
}


section.skills .content .left .timeline_wrapper , section.skills .content .right .timeline_wrapper{
    border-left: 2px dotted var(--dark-blue);
}



section.skills .skills_wrapper{
    margin-top: 10rem;
}



section.skills .skills_wrapper .skill_box h4{
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}


section.skills .skills_wrapper .skill_box{
    margin-bottom: 4rem;
}


section.skills .skills_wrapper .skill_box .progress_wrap{
    background-color: #20294a;
    height: 6px;
    width: 100%;
    border: 2px solid #1a253f;
    box-shadow: 0 0 1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid #1a253f;
}



section.skills .skills_wrapper .skill_box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background-color: var(--info);
    width: 20%;
    position: relative;
    transition: all 2s ease-in-out;
    
}



section.skills .skills_wrapper .skill_box .progress_wrap .progress_bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: var(--ternary);
    font-size: 16px;
    text-transform: uppercase;
}
/*--------------------
Skill End
--------------------*/













/*--------------------
Counter Start
--------------------*/
section.counter_section{
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    
    
}


section.counter_section > div{
    display: flex;
    align-items: center;
}


section.counter_section > div i{
    font-size: 42px;
    margin-right: 15px;
}


section.counter_section > div:nth-child(1) i{
    color: var(--yellow);
}

section.counter_section > div:nth-child(2) i{
    color: var(--success);
}

section.counter_section > div:nth-child(3) i{
    color: var(--dribbble);
}


section.counter_section > div h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--fade);
    margin-bottom: 8px;
}


section.counter_section > div h5{
    font-size: 14px;
    color: var(--fade);
}


/*--------------------
Counter End
--------------------*/












/*--------------------
My Works Start
--------------------*/
section.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 40px;
}



section.work .wrapper .portfolio .tabs ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}


section.work .wrapper .portfolio .tabs ul li a{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 2px;
}


section.work .wrapper .portfolio .tabs ul li a.active{
    border-color: var(--info);
    color: var(--info);
    transition: all .3s ease-in-out;
}







section.work .wrapper .portfolio .portfolio_wrapper{
    margin-top: 4rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;  */

    display: flex;


}

section.work .wrapper .portfolio .portfolio_wrapper .item{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    
}

section.work .wrapper .portfolio .portfolio_wrapper a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Slider start */

section.work .wrapper .slider_wrapper .icon_wrap{
    color: var(--info);
    font-size: 26px;
    text-align: center;
}


section.work .wrapper .slider_wrapper .slider .slide p{
    color: var(--ternary);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

section.work .wrapper .slider_wrapper .slider .slide img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
}


section.work .wrapper .slider_wrapper .slider .slide h2{
    font-size: 16px;
    color: var(--info);
    margin-top: 1rem;
}


section.work .wrapper .slider_wrapper .slider .slide h6{
    color: var(--ternary);
    margin-top: 1rem;
}


section.work .wrapper .slider_wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}



section.work .wrapper .slider_wrapper{
    overflow: hidden;
}
/* Slider End */


/*-------------------- 
My Works End
--------------------*/





/*-------------------- 
Brand Patner Start
--------------------*/
section.partners .brands_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*-------------------- 
Brand Patner End
--------------------*/





/*-------------------- 
Contact Me Start
--------------------*/
section.contact .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    margin-top: 40px;
    align-items: center;
}

section.contact .wrapper .left > div a{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}



section.contact .wrapper .left > div div:nth-child(1){
    margin-right: 10px;
}

section.contact .wrapper .left i{
    font-size: 30px;
    color: var(--info);
}


section.contact .wrapper .left h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

section.contact .wrapper .left a{
    color: var(--ternary);
}

section.contact .wrapper .left h4 + span{
    font-weight: 100;
    font-size: 14px;
}



section.contact .wrapper .right .form_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 14px;
}



section.contact .wrapper .right .form_group > div{
    display: flex;
    flex-direction: column;
}

section.contact .wrapper .right .form_group > div label{
    color: var(--ternary);
    margin-bottom: 8px;
}



section.contact .wrapper .right .form_group > div input , section.contact .wrapper .right .form_group.textarea_wrapper textarea{
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--pure);
    font-size: 16px;
}

section.contact .wrapper .right .form_group > div input:focus , section.contact .wrapper .right .form_group.textarea_wrapper textarea:focus{
    border-color: var(--secondary); 
    outline: none;
}


section.contact .wrapper .right .form_group.textarea_wrapper{
    display: block;
    width: 100%;
}



section.contact .wrapper .right button{
    background-color: var(--info);
    border: none;
    padding: 1rem 2rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


section.contact .wrapper .right button:hover{
    background-color: var(--secondary);
}
/*-------------------- 
Contact Me End
--------------------*/




/*-------------------- 
Footer Start
--------------------*/
footer{
    background-color: var(--footer);
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
    color: var(--ternary);
}

footer a{
    color: var(--pure);
}

footer a:hover{
    text-decoration: underline;
}

/*-------------------- 
Footer End
--------------------*/





/*-------------------- 
Media Queries Start
--------------------*/
@media(max-width: 1280px){
    .container{
        max-width: 90%;
    }
}


@media(max-width: 1024px){
    section.profile{
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }

    section.profile .left{
        margin-bottom: 2rem;
    }


    section.profile .right{
        align-self: flex-end;
    }



    section.work .wrapper{
        display: block;
    }




    section.work  .wrapper .slider_wrapper{
        margin-bottom: 8rem;
    }


    section.partners{
        margin-top: 4rem;
    }



}


@media(max-width:970px){
    section.skills .content{
        display: block;
    }

    section.skills .content .left{
        margin-bottom: 6rem;
    }


    section.partners .brands_wrapper{
        flex-wrap: wrap;
    }

    section.partners .brands_wrapper img{
        margin-bottom: 2rem;
    }
}





@media(max-width:768px){
    section.about .content{
        display: block;
    }

    section.about .content .left{
        margin-bottom: 6rem;
    }

    section.contact .wrapper{
        display: block;
    }

    section.contact .wrapper .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    section.counter_section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    section.counter_section > div{
        margin-bottom: 2rem;
    }

}



@media(max-width: 576px){

    .container{
        max-width: 95%;
        margin-top: -50px;
    }

    section.profile{
        align-items: center;
    }

    section.profile .right{
        align-self: center;
    }


    section.profile .right .socials{
        text-align: center;
        display: flex;
        justify-content: center;
       
    }


    section.profile .left{
        margin-bottom: 1rem;
        flex-direction: column;
    }


    section.profile .left .avatar_block{
        margin-bottom: 3rem;
    }


    section.profile .left .cd-headline{
        display: none;
    }

    


    section.work .wrapper .portfolio .tabs ul{
        flex-wrap: wrap;
    }


    section.work .wrapper .portfolio .tabs ul li{
        margin-bottom: 4rem;
    }


    section.work .wrapper .portfolio .portfolio_wrapper{
        margin-top: 0;
    }


    section.contact .wrapper .right .form_group{
        grid-template-columns: 1fr;
    }

    footer{
        margin-top: 10px !important;
    }



}
/*-------------------- 
Media Queries End
--------------------*/